@media only screen and (max-width: 768px) {
  .tweet {
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
  }
  
  .tweet > article > .accountInfo {
    display: flex;
    align-items: center;
  }
  
  .tweet:hover {
    box-shadow: 5px 5px 0 #888;
  }
  
  .name.handle {
    margin-left: auto;
    visibility: hidden;
  }
  
  .tweet:hover > article > .accountInfo > .name.handle {
    visibility: visible;
  }
  
  .content {
    border-bottom: 2px solid black;
    word-wrap: break-word;
  }
  
  .tweet-footer {
    padding: 0 5px 5px 5px;
    font-size: 50%;
  }
  
  .flags {
    visibility: hidden;
    float: right;
  }

  .tweet:hover > article > footer > .flags{
    visibility: visible;
  }
}

@media only screen and (min-width: 769px) {
  .tweet {
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
  }
  
  .tweet > article > .accountInfo {
    display: flex;
    align-items: center;
  }
  
  .tweet:hover {
    box-shadow: 5px 5px 0 #888;
  }
  
  .name.handle {
    margin-left: auto;
    visibility: hidden;
  }
  
  .tweet:hover > article > .accountInfo > .name.handle {
    visibility: visible;
  }
  
  .content {
    border-bottom: 2px solid black;
    word-wrap: break-word;
  }
  
  .tweet-footer {
    padding: 0 5px 5px 5px;
    font-size: 50%;
  }
  
  .flags {
    visibility: hidden;
    float: right;
  }

  .tweet:hover > article > footer > .flags{
    visibility: visible;
  }
}

